body {
  color:#40514e;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color:#66bfbf;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
}

h2 {
  color:#66bfbf;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color:#11999e;
}

p{
  line-height: 2;
}

.top-container {
  background-color: #eaf6f6;
  position: relative;
  padding-top: 100px;
}

hr{
  border-top: 5px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-style: dotted;
  width: 5%;
  color:#eaf6f6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px
}

.deco {
  text-decoration: underline;
}

.middle-container {
  background-color: white;
  margin:100px 0;
}
.skill-row{
  margin:100px auto 100px auto;
  text-align:justify;
  width:50%;
}

.pro {
  /*height: 15%;*/
  width: 15%;
}

.intro{
  width:30%;
  margin:20px auto;
}

.skill{
  float:left;
  height:20%;
  margin-right:30px;
  width:25%;
}

.skill3{
  float:right;
  height:20%;
  margin-left: 30px;
  width:25%;
}

.bottom-container {
  background-color: #66bfbf;
  padding-top: 20px;
}

.contact-message{
  width:40%;
  margin:40px auto 60px;
}

.footer-link{
  color:#11999e;
  font-family: 'Montserrat',sans-serif;
  margin:10px 20px;
  text-decoration: none;
}

.last-foot{
  color:#eaf6f6;
  margin-bottom: 0;
  padding: 20px 0;
  font-size: 0.75rem;
}
a:hover{
  color:#ffffff;
}

.btn {
  background: #19c298;
  background-image: -webkit-linear-gradient(top, #19c298, #1acca0);
  background-image: -moz-linear-gradient(top, #19c298, #1acca0);
  background-image: -ms-linear-gradient(top, #19c298, #1acca0);
  background-image: -o-linear-gradient(top, #19c298, #1acca0);
  background-image: linear-gradient(to bottom, #19c298, #1acca0);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #35f0bb;
  background-image: -webkit-linear-gradient(top, #35f0bb, #3de0b2);
  background-image: -moz-linear-gradient(top, #35f0bb, #3de0b2);
  background-image: -ms-linear-gradient(top, #35f0bb, #3de0b2);
  background-image: -o-linear-gradient(top, #35f0bb, #3de0b2);
  background-image: linear-gradient(to bottom, #35f0bb, #3de0b2);
  text-decoration: none;
}
